<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Symfony App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% include 'topbar/index.html.twig' %}
<div style="padding-left:16px">
    {% block body %}{% endblock %}
</div>
</body>
</html>
